---
layout: layout.liquid
clauses:
- 🌳: Deforestation
- 🛂: Civilian Internment
- 💸: For-Profit Prisons
---
<h1>License Selector</h1>
<div id="intro">
    {% include licenseIntro %}
</div>
<div class="bg-light border border-primary">
    <div id="provision-toggle" class="m-2" hidden>
        {% for clause in clauses %}
        {% for item in clause %}
        <div class="form-check m-2">
            <input type="checkbox" class="form-check-input" name="{{ item[0] }}" id="{{ item[1] }}-option">
            <label class="form-check-label" for="{{ item[1] }}-option">Include {{ item[1] }} Provision {{ item[0] }}</label>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
    <noscript>
        {% include licenseEndInstructions %}
    </noscript>
</div>
<div class="m-3" id="license">
    <div class="text-justify" id="license-text"> {% include license-versions/atmosphere-0.1.html %}
    </div>
</div>
{% include licenseEndInstructions %}