---
layout: layout.liquid
clauses:
- 🌳: Deforestation
- 🛂: Civilian Internment
- 💸: For-Profit Prisons
---
<h1>License Selector</h1>
<div id="intro">
    <p>The Atmosphere Licenses are open source software license with fossil fuel divestment provisions. They comply with the <a href="https://opensource.org/osd">Open Source Definition</a> and the <a href="https://ethicalsource.dev/definition/">Ethical Source Definition</a>, and they're designed to impose quantifiable, enforceable obligations. Anyone, and any organization, can qualify to use, modify, and convey programs under the Atmosphere Licenses, and there are no limits on the content or functionality of the licensed programs. </p>
    <p>The Atmosphere Licenses incorporate many provisions of the <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GNU General Public License</a>, they optionally incorporate the concept of "deforestation" from the <a href="https://github.com/raisely/NoHarm">Do No Harm License</a>, and they also incorporate the <a href="https://www.gnu.org/licenses/agpl-3.0.md">GNU Affero GPL's</a> concept of "Remote Network Interaction" as a trigger for license compliance. However, the Atmosphere Licenses are not versions of any of those licenses.</p>
</div>
<div id="provision-toggle" class="bg-light border border-primary"> {% for clause in clauses %} {% for item in clause %} <div class="form-check m-2">
        <input type="checkbox" class="form-check-input" name="{{ item[0] }}" id="{{ item[1] }}-option">
        <label class="form-check-label" for="{{ item[1] }}-option">Include {{ item[1] }} Provision {{ item[0] }}</label>
    </div> {% endfor %} {% endfor %} </div>
<div class="m-3" id="license">
    <h2>{% include licenseName %}</h2>
    <div class="text-justify" id="license-text"> {% include license-versions/atmosphere-0.1.html %} </div>
</div>
<h4>How to apply the {% include licenseName %} to your work</h4>
<p>Attach the following boilerplate notice, with the fields enclosed by brackets "[]" replaced with your own identifying information. If you want to include any optional provisions in your license, include the emojis corresponding to those provisions at the end of your license version number.</p>
<p>Copyright [YEAR] [COPYRIGHT HOLDER] {% include licenseName %}</p>
<p>If your program has an interactive mode, you should have it provide the name and version number of the Atmosphere License when it starts up, and provide a link to where the full license can be found.</p>
<p>If you're including any optional provisions, make sure they appear at the end of Section 3 ("Divestment"). If you're working from a template, be sure that you've removed the brackets from around the provisions you want to use and removed the word "OPTIONAL" before them, both in the version number and in the license text. Be sure to delete any optional provisions you don't want to use. If you make a mistake that causes the license to be ambiguous, an optional provision is considered to be included in your license if and only if its text appears in the license without the word "OPTIONAL".</p>