<p>
The Atmosphere Licenses are open source, copyleft software licenses with fossil fuel divestment provisions. They comply with the <a href="https://opensource.org/osd">Open Source Definition</a> and the <a href="https://ethicalsource.dev/definition/">Ethical Source Definition</a>, and they're designed to impose quantifiable, enforceable obligations. Anyone, and any organization, can qualify to use and to convey programs under the Atmosphere Licenses, and there are no limits on the content or functionality of the licensed programs.
</p>
