<div id="alt-instructions" class="m-2">
    <h4>Selecting Opinion Provisions</h4>
    <p>You can modify the Atmosphere License by adding one or more optional provisions to impose additional divestment obligations on licensees. These optional provisions are identified by emojis, such as 🌳 for Deforestation, 🛂 for Civilian Internment, and 💸 for For-Profit Prisons. To include an optional provision in your license, copy/paste the license into your own document and then remove the term " OPTIONAL:" and remove the double brackets ("[[" and "]]" ) from the beginning and end of each paragraph marked with the corresponding emoji.</p>
    <p>For any optional provisions that you don't want to include in your license, please delete the optional paragraphs containing those provisions.</p>
    <p>When you cite the name of the license you're using, include the emojis for the provisions you decided to include. For instance, if you selected the Deforestation and For-Profit Prisons provisions, the name of your license would be "{{ baseName }} Version {{ versionNumber }}–🌳💸"</p>
</div>